<!DOCTYPE html>
<html>
    <head>
        <title>Test Page</title>
        <style>
            h1{
                background:#f4a341;
                text-align:center;
                width:60%;
                margin-left:20%
            
            }
            p{
               background:#42c2f4;
            
                text-align:center; 
            }
        </style>
    </head>
    <h1>Under Maintanence</h1>
    <p>See You Soon</p>
</html>