<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <style>
            body{

     
             }

            div{
                font-family: 'Source Sans Pro';
             width:50%;
           margin-left:25%;
             border:5px solid #bdc3c7            
            }
            p{
                background:#42c2f4;
                width:60%;
                margin-left:20%;
            
                text-align:center; 

            }
        </style>
    </head>
    <body>
        <div id="container">
            <P>
                Hello viewers,Welcome to ma website,It was pretty obvious  where its hosted
                from Thanks to Heroku and GitHub Just Checking How it's Working really Super Cool...
            </P>
            
         {{>links}}
        </div>
        {{>footer}}
    </body>
</html>