<!DOCTYPE html>
<html>
    <head>
        <title>Test Page</title>
        <style>
            h1{
                background:#f4a341;
                text-align:center;
                width:60%;
                margin-left:20%
            
            }
            p{
               background:#42c2f4;
                width:60%;
                margin-left:20%;
            
                text-align:center; 
            }
        </style>
    </head>
    <h1>Under Maintanence</h1>
    <P>Ha Technically the whole site is</P>
    <p>See You Soon</p>
    <p>Some personal ya ya i know its on public,Dont read this
        you dont know me use the links go some other page you have to 
        check it out its really really cool..you  still read this

        
    </p>
    {{>links}}
</html>