<!DOCTYPE html>
<html>
    <head>
        <title>Test Page</title>
        <style>
            h1{
                background:#f4a341;
                text-align:center;
                width:60%;
                margin-left:20%
            
            }
            p{
               background:#42c2f4;
                width:60%;
                margin-left:20%;
            
                text-align:center; 
   
            }
        </style>
    </head>
    {{>header}}
    <p>{{projects}}</p>
    {{>links}}
    {{>body}}
    {{>footer}}
</html>